/* Import Slick CSS */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@import "tailwindcss";


/* navbar */

.active-menu {
  color: #EC3E73;
  border-bottom: 2px solid #EC3E73;
}
.navabr li::after
{
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #EC3E73;
  transition: all 0.5s ease-in-out;
}

.navabr li:hover::after
{
 width: 100%;
}

.navabr .group:hover::after
{
  width: 0%;

}


/* home css */
.counter-section .counter-box
{
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} 
.counter-section .counter-box:nth-child(even)
{
  position: relative;
  top: 52px;
}
.counter-section .counter-box:nth-child(even)::before
{
  content: "";
  border: 1px dashed red;
  height: 1px;
  width: 70px;
  position: relative;
  top: 20px;
  left: -115px;
  rotate: 42deg;
}
.counter-section .counter-box:nth-child(even)::after
{
  content: "";
  border: 1px dashed red;
  height: 1px;
  width: 70px;
  position: relative;
  top: -85px;
  right: -114px;
  rotate: -42deg;
}

.counter-section .counter-box h3
{
   font-size: 2.2rem;
   font-weight: 700;
   color: #000022;
   padding: 0px 50px;
}
.counter-section .counter-box .counter-img-box
{
  display: flex;
  justify-content: center;
}
.home-services-content h3::after
{
   content: "";
   position: relative;
   width: 50px;
   height: 2px;
   display: block;
   background-color: #fff;
   top: 10px;
   left: 50%;
   transform: translate(-50%, -50%);
}
.home-services-content
{
  transition:0.9s;
  padding: 1rem;
  
}
.home-services-content:hover
{
  background-color: #EE3E77;
  transform: scale(1.1);
}
.home-services-content h3
{
  padding: 0px 20px;

}
.home-services-content:hover h3
{
  color: #fff;
  margin-top: 0px;
}
.home-services-content:hover .service-img-box
{
display: none;
}
.line{
  border: none;

}
.home-services-content:hover .line{
 border: 1px solid red;
}
.home-services-content p
{
  display: none;
}
.home-services-content:hover p
{
display: block;
color: #fff;
}

.home-portfolio .slick-next
{
  position: absolute;
  left: -148px;
  top: 50%;
  background-color: #ED3E75;  
  margin-left: 7rem;
  z-index: 999;
  width: 80px;
  height: 80px;
}
.home-portfolio .slick-prev{
  position: absolute;
  left: -15%;
  top: 50%;
  background-color: #ED3E75;  
  z-index: 999;
  width: 80px;
  height: 80px;
}
.slick-prev::before, .slick-next::before {

  font-size: 50px;
  /* color: ; */
}
.home-portfolio .slick-next:hover,.home-portfolio .slick-prev:hover
{
  background-color: #918d8d;
}
.home-portfolio .slick-prev:focus,.home-portfolio .slick-next:focus
{
  background: #ED3E75;
}
.plans-box:hover p,.plans-box:hover small ,.plans-box:hover h3
{
  color: #fff !important;
}

/* .demo-div::before
{
    content: "";
    position: absolute;
    left: 100px;
    top: 0;
    height: 2px;
    width: 100%;
    background-image: url('../public/images/pink_dash.jpg');
    background-position:center;
} */

@media (max-width: 640px) {
  .counter-section .counter-box:nth-child(2n) {
    top: 0;
  }
  .counter-section .counter-box:nth-child(2n)::after
  {
     display: none;
  }
  .counter-section .counter-box:nth-child(2n)::before
  {
    display: none;
  }
  .counter-section
  {
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .home-portfolio .slick-prev
  {
    display: none !important;
  }
  .home-portfolio .slick-next
  {
      width: 50px;
      height: 50px;
  }
}

